* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans";
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./just/images/wishes\ bd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.divtwo {
  position: absolute;
  top: 80%;
  left: 40%;
}
.divtwo a {
  padding: 8px 12px;
  text-decoration: none;
  border: 2px solid red;
  border-radius: 5px;
  background-color: black;
  color: #fff;
}

p {
  font-size: 8rem;
  text-shadow: 0 0 10px;
  color: rgb(38, 6, 224);
}
